name: Continous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 14.x
        uses: actions/setup-node@v3
        with:
          node-version: 14.x
      - uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: 982053
      - run: npm ci
      - run: npx grunt
      - run: npm test
